# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/
.venv/

# dotenv (secrets, DB URLs, API keys)
.env

# VSCode or other editor configs
.vscode/
*.swp

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
